/* proudcts silde  */
.slick-slide img {
  height: 52vh;
}
.product-icon {
  position: absolute;
  top: 81%;
  left: 8%;
  font-size: 33px;

  color: red;
}
.product-icon:hover {
  color: #ffce45;
  transform: scale(1.3, 1.4);
  transition: 1s;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
  font-size: 23px;
  padding: 6px;
}
/* proudcts silde  */
