@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap");
:root {
  --main-color-font: #454545;
  --another-color-font: #ffffffbd;
  --awosme-color: #838383;
  --img-background: #000000;
  --border-color: #707070;
  --icon-background: rgb(42, 43, 47);
}
body {
  font-family: "Cabin", sans-serif;
  background-color: var(--img-background);
}
/*start Up-bar*/
.navbar {
  background-color: var(--img-background);
  padding: 0;
}
.navbar .title {
  background-color: var(--main-color-font);
  padding: 9px 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.navbar .title a {
  color: var(--another-color-font);
  text-decoration: none;
}

.navbar .title .user-data .list-item a {
  color: #fbf3e4;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 7px;
}
.navbar .title .user-data .list-item a:hover {
  background-color: #630000;
  transition: 1s ease;
}
.navbar .list-group {
  list-style: none;
  flex-direction: row;
}
.navbar .list-group a.nav-link {
  color: #fbf3e4;
}
.navbar .list-group .list-item a {
  margin: 0 6px;
  color: var(--awosme-color);
}
.navbar .list-group .list-item a:hover {
  color: #ffce45;
}
.welcome {
  color: var(--another-color-font);
  margin: 0;
  font-size: 19px;
}
.logout {
  margin: 0 10px;
  font-size: 18px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 0 10px;
}
.logout:hover {
  color: #ffce45;
  background-color: #630000;
  transition: 1s ease;
}

#myname h4:hover {
  color: #ffce45;
  transition: 1s ease;
}
.user-welcome {
  padding-right: 52px;
  display: inline-flex;
  justify-content: center;
}
.list-group {
  justify-content: center;
}

@media (max-width: 768px) {
  .navbar .list-group {
    justify-content: center;
  }
  .navbar .icon {
    display: none;
  }
  .navbar .title {
    border-radius: 0;
  }
  .Mon_logo .Customized {
    justify-content: center;
  }
  .Mon_logo .Customized .logo_img {
    width: 80%;
    margin: 0;
  }
  .Mon_logo .Customized .mon-form {
    width: 100%;
  }
  .info {
    overflow: hidden;
  }
  .info span {
    font-size: 19px;
    color: #fff;
    margin-left: 22px;
  }
  .info a {
    margin: 0;
  }
  .product-custom i {
    font-size: 23px;
  }
  .my_product {
    padding: 51px 0;
  }
}

@media (min-width: 768px) {
  .navbar .user-welcome {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0;
  }
  .navbar .welcome {
    font-size: 16px;
  }
  .Mon_logo .Customized .mon-form {
    width: 60%;
  }
}
/*End UP-Bar */
/* start Logo*/
.logo_img {
  width: 20%;
  margin-right: 30px;
}
.Customized {
  justify-content: space-between;
  align-items: center;
}
.Mon_logo {
  padding-top: 37px;
}
.Mon_logo .mon-form {
  border: 1px solid #666;
  border-radius: 7px;
  width: 43%;
  overflow: hidden;
  background-color: var(--main-color-font);
  padding: 9px 13px;
}
.Mon_logo .mon-form input {
  outline: none;
  border: 0;
  width: 89%;
  font-size: 18px;
  background-color: var(--main-color-font);
  color: var(--another-color-font);
}
.Mon_logo .shoopicon i {
  color: #ffce45;
  font-size: 38px;
  position: relative;
  cursor: pointer;
}
.Mon_logo .shoopicon {
  position: relative;
}
.Mon_logo .shoopicon i:hover {
  transform: scale(1.3, 1.3);
  transition: 1s ease;
}

.mon-form .search {
  border: 0;
  outline: none;
}

.mon-form .search-icon {
  padding-left: 25px;
  color: #666;
  font-size: 20px;
  right: 23px;
  top: 7px;
  float: right;
  color: var(--another-color-font);
}

/* End Logo*/
/* satrt navbar */
.navbar .nav-list .nav-link {
  color: var(--another-color-font);
}
.navbar .nav-list .nav-link:hover {
  color: #ffce45;
  transition: 1s ease;
}
.show > .btn-light.dropdown-toggle:hover {
  background-color: #fdba23;
  color: #fbf3e4;
}
.navbar .nav-list-mob .nav-link {
  color: var(--another-color-font);
}
.navbar .nav-list-mob .nav-link:hover {
  color: #ffce45;
  transition: 1s ease;
}
.call-us a {
  text-align: center;
  color: var(--another-color-font);
  text-decoration: none;
}
.navbar .call-us .icon a {
  font-size: 54px;
  color: #fdba23;
}
/* mobile nav */
.navbar p.nav-mob {
  position: absolute;
  left: 13px;
  z-index: 100;
}
.navbar .nav-list-mob {
  position: absolute;
  top: 8px;
  z-index: 1;

  left: 17px;
}

.navbar .nav-list-mob .nav-item a:hover {
  color: red;
}
/* mobile nav */
@media screen and (max-width: 768px) {
  .navbar .nav-list,
  .call-us,
  .selectpicker {
    display: none;
  }
  .Mon_logo .mon-form input {
    width: 84%;
  }
}

/* end navbar */

/* carousel */

/*Start-Carousel*/

.slider .carousel-item img {
  width: 100%;
  height: auto;
}
.slider .carousel-control-prev,
.slider .carousel-control-next {
  top: 45%;
  bottom: 51%;
  border: 1px solid;
  border-radius: 27px;
  width: 35px;
  height: 35px;
}
.slider .carousel-control-prev {
  margin-left: 27px;
}
.slider .carousel-control-next {
  margin-right: 27px;
}
.slider .carousel-item {
  transition: 4s;
}

@media (max-width: 768px) {
  .slider .carousel-control-prev,
  .slider .carousel-control-next {
    width: 27px;
    height: 27px;
  }
}

/*end-Carousel*/
/* start navbar */

.slicknav_menu {
  display: none;
  top: 37px;
}
#cart {
  font-size: 17px;
  position: absolute;
  top: -6px;
  border-radius: 10px;
  left: 29px;
}
@media screen and (max-width: 992px) {
  .call-us .info {
    display: flex;
  }
  .nav-list {
    display: none;
  }
  .slicknav_nav {
    position: absolute;
    top: 39px;
    background-image: linear-gradient(#ffce45, #ffffffbd);
    z-index: 1000;
    width: 9rem;
  }

  .slicknav_nav li {
    border: 1px solid;

    display: block;
  }
  .slicknav_nav li a:hover {
    transition: 1s !important;
  }
  .slicknav_menu {
    display: inline-block;
    background-color: transparent !important;
    position: absolute;
    top: 33px;

    z-index: 1;
  }
  .slicknav_menu .slicknav_btn {
    background-color: #ffce45;
  }
}
/* end navbar */
/*  start cover */
#product {
  background-image: url("/img/valorant-background-hd-wallpaper-1920x1080-uhdpaper.com-764.1_b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 83vh;
  position: relative;
}
#product::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 78%);
}
/* end cover */
/* proudcts silde  */
.btns {
  flex-direction: row;
  margin-bottom: 20px;
}
.btns li {
  margin-left: 20px;
  transition: 1s ease-in;
}
.btns li:hover {
  background-color: #2f2f2f80;
  cursor: pointer;
}
.btns li a {
  text-decoration: none;
  color: #ffce45;
  text-transform: uppercase;
}
.product-icon {
  position: absolute;
  bottom: 0;
  left: 24px;
  font-size: 33px;
  transition: 1s;
  color: #ffce45;
}
.product-icon:hover,
.product-main:hover,
.product-custom:hover {
  color: #ffce45;
  transform: scale(1.3, 1.4);
}

.product-custom {
  font-size: 26px;
  transition: 1s;
  color: #ffce45;
}
.info {
  overflow: hidden;
}
.info span {
  font-size: 19px;
  float: right;
  margin-right: 19px;
  text-align: center;
  line-height: 47px;
  color: #fff;
}

.product-main {
  position: absolute;
  left: 24px;
  bottom: 0;
  font-size: 33px;
  transition: 1s;
  color: #ffce45;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
  font-size: 23px;
  padding: 6px;
}
/* proudcts silde  */
/* cart-menu */
.cart-products {
  position: absolute;
  top: 90%;
  right: 7%;
  background: linear-gradient(#ffce45, #ffffffbd);
  width: 200px;
  transform: translate(43%, 0);
  padding: 10px;
  border: 1px solid #fff;
  z-index: 2;
}

.list-group-item {
  background-color: transparent;
}

/* cart-menu */
/* title */
.products-title {
  text-align: center;
  margin: 90px 0;
}
.products-title h3 {
  color: #fffdfd;
  font-size: 40px;
  text-transform: capitalize;
}
/* title */
/* products animation */
.my_productthree img {
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
.my_productthree img:hover {
  transform: scale(1.1);
}
.my_product {
  padding: 97px 0;
}
.my_product img {
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  height: 50vh;
}
.my_product img:hover {
  transform: scale(1.1);
}
/* products animation */
/* start about */
.about {
  margin: 90px 0;
}
.about .info {
  color: var(--another-color-font);
  font-size: 19px;
  line-height: 46px;
}
.about .img {
  max-width: 74%;
}
.about .img .company {
  width: 100%;
}
.about .img .power {
  animation: logo 10s linear infinite;
}
@keyframes logo {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@media (max-width: 768px) {
  .about .img {
    margin: 0 auto;
  }
  .about .info {
    text-align: center;
  }
  .info .last-icons {
    justify-content: center;
  }
  .email {
    text-align: center;
  }
  .email .fonts ul.list-group {
    justify-content: center;
  }
}
.last-icons {
  flex-direction: row;
  justify-content: left;
}
.last-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-icons li i {
  border: 1px solid #000;
  background-color: #222121f5;
  padding: 14px;
  border-radius: 30px;
  color: #ffce45;
  font-size: 24px;
  transition: 1s;
}
.last-icons li i:hover {
  color: red;
}

/* end about */

/* start search */
.email .bar {
  position: relative;
}
.email .bar input {
  padding: 20px;
  width: 100%;
  outline: none;
  border: 5px solid #5a5858;
}
.email .bar a {
  position: absolute;
  right: 13%;
  top: 21px;
  color: #6c6868;
  border: 1px solid;
  padding: 4px;
  text-decoration: none;
}
.email .bar .icon {
  position: absolute;
  top: 18px;
  right: 23px;
}
.email .bar .icon i {
  color: #ffce45;
  font-size: 35px;
  cursor: pointer;
}
.email .fonts ul {
  flex-direction: row;
  justify-content: left;
}
.email .fonts ul li a {
  color: var(--main-color-font);
  font-size: 28px;
}

/* end search */
/* start brand */
.brand {
  margin-top: 50px;
}
/* end brand */

/* start footer */
.footer-info {
  margin-top: 1rem;
}
.footer-info .mon-data > dd {
  font-size: 18px;
}
.footer-info .mon-data > dt > span a {
  margin-bottom: 9px;
  font-size: 14px;
  display: block;
  color: #fff;
}
.footer-logo .last-img {
  border: 3px solid #ff00004a;
}
footer {
  color: #fff;
}
.list-unstyled li.quick {
  margin-bottom: 13px;
}
.list-unstyled li.quick a {
  color: #fff;
}
em.icon-mon::before {
  position: absolute;
  content: "\f00c";
  font-family: FontAwesome;
  color: #e41d74;
}
footer .last-info a {
  padding-left: 22px;
  color: #fff;
}
footer .last-info li {
  margin-bottom: 10px;
}
footer.page-footer {
  margin-top: 13rem !important;
}

/* footer */

/* end footer */
